.carrossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 1.25em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}


.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}
.descricao{
    padding: 0 0.5em;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
    line-height: 24px;
}

.descricao__titulo-livro{
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    margin: 0.5em 0;
    line-height: 27px;
}

.descricao__texto{
    font-size: 14px;
    line-height: 21px;
}

.botoes__item{
    margin: 0 0.7em;
}

.botoes__ancora{
    color: var(--branco);
    text-decoration: none;
    background-color: var(--laranja);
    text-align: center;
    padding: 1em 2.2em;
    font-weight: 700;
}

.carrossel2__titulo{
    text-align: center;
    background-color: var(--branco);
    padding: 1.25em 0 0.5em 0;
    text-transform: uppercase;
    color: var(--laranja);
    font-weight: 700;
    font-size: 18px;
}

.swiper-pagination2 {
    position: initial;
    margin: 0.5em 0;
}

.card2{
    margin-top: 1.5em;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card2__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.card2__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes2{
    display: flex;
}

.descricao2{
    padding: 0 0.5em;
}

.descricao2__autora-titulo{
    font-weight: 700;
    color: var(--laranja);
    margin-top: 0.5em;
}

.descricao2__autora-nome{
    font-weight: 700;
    font-size: 18px;
    color: var(--azul);
    margin: 0.5em 0;
}

.descricao2__texto{
    font-size: 14px;
    line-height: 21px;
}

.botoes2__item{
    margin: 0 0.7em;
}

.botoes2__ancora{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--laranja);
    font-weight: 700;
    text-align: center;
    padding: 1em 2.2em;
}

@media screen and (min-width: 946px){
    .carrossel__titulo{
        font-size: 26px;
    }
    .swiper-pagination{
        margin: 2em 0 3em 0;;
    }

    .swiper{
        width: 60%;
    }
    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 63%;
    }


    .card{
        width: 50%;
        margin: 2em auto;
    }

    .card2{
        width: 50%;
        margin: 2em auto;
    }

    .carrossel2__titulo{
        font-size: 26px;
    }
}

@media screen and (min-width: 1728px){
    .carrossel__container{
        display: flex;
        /* margin: 0 20vw 3em 20vw; */
        margin: 0 20% 3em 20%;
        align-items: center;
    }

    .swiper-pagination{
        margin-bottom: 1em;
    }

    .swiper{
        width: 50%;
    }

    .descricao__titulo{
        font-size: 32px;
        line-height: 48px;
    }

    .descricao__texto{
        font-size: 16px;
    }

    .descricao2__texto{
        font-size: 14px;
    }

    .card{
        width: 60%;
        margin-left: 3em;
    }

    .descricao{
        margin-right: 2em ;
    }

    .descricao2__autora-titulo{
        font-size: 32px ;
    }

    .descricao2__autora-nome{
        font-size: 18px;
    }
}